#content 2333
button#test(style="color: blue;") remove
table(border="1")
	tr
		th 2
		th 23
		th#test 32
	script.
		var i = 1;
		setInterval(function () {
			i++;
			document.getElementById('test').innerHTML = i;
		},1000);
	tr
		th#test2 1
		th 1
		th 1