//
// Pagination (multiple pages)
// --------------------------------------------------
$gray-base:              #000 !default;
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
$border-radius-base:        4px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$border-radius-large:       6px !default;


$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;


$font-size-base:          14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


$cursor-disabled:                not-allowed !default;

$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;




// Single side border-radius

@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: $line-height-computed 0;
	border-radius: $border-radius-base;
	
	> li {
		float: left;
		display: inline; // Remove list-style and block-level defaults
		> a,
		> span {
			position: relative;
			float: left; // Collapse white-space
			padding: $padding-base-vertical $padding-base-horizontal;
			line-height: $line-height-base;
			text-decoration: none;
			color: $pagination-color;
			background-color: $pagination-bg;
			border: 1px solid $pagination-border;
			margin-left: -1px;
		}
		&:first-child {
			> a,
			> span {
				margin-left: 0;
				@include border-left-radius($border-radius-base);
			}
		}
		&:last-child {
			> a,
			> span {
				@include border-right-radius($border-radius-base);
			}
		}
	}
	
	> li > a,
	> li > span {
		&:hover,
		&:focus {
			z-index: 2;
			color: $pagination-hover-color;
			background-color: $pagination-hover-bg;
			border-color: $pagination-hover-border;
		}
	}
	
	> .active > a,
	> .active > span {
		&,
		&:hover,
		&:focus {
			z-index: 3;
			color: $pagination-active-color;
			background-color: $pagination-active-bg;
			border-color: $pagination-active-border;
			cursor: default;
		}
	}
	
	> .disabled {
		> span,
		> span:hover,
		> span:focus,
		> a,
		> a:hover,
		> a:focus {
			color: $pagination-disabled-color;
			background-color: $pagination-disabled-bg;
			border-color: $pagination-disabled-border;
			cursor: $cursor-disabled;
		}
	}
}
a{
	cursor: pointer;
}