label.weui-cell > *, label.weui-agree > *{ pointer-events: none }

.weui-toptips_default{ background-color: #B2B2B2 }

.weui-toptips_info{ background-color: #586C94 }

.weui-toptips_primary{ background-color: #1AAD19 }

.weui-popup{ position: fixed; left: 0; bottom: 0; transform: translate(0, 100%); backface-visibility: hidden; z-index: 5000; width: 100%; background-color: #EFEFF4; transition: transform .3s }

.weui-popup_toggle{ transform: translate(0, 0) }

.weui-popup__hd{ display: flex; padding: 10px 15px; background-color: #fbf9fe; position: relative; text-align: center }

.weui-popup__hd:after{ content: " "; position: absolute; left: 0; bottom: 0; right: 0; height: 1px; border-bottom: 1px solid #E5E5E5; color: #E5E5E5; transform-origin: 0 100%; transform: scaleY(.5) }

.weui-popup__action{ display: block; flex: 1; color: #586C94 }

.weui-popup__action:first-child{ text-align: left }

.weui-popup__action:last-child{ text-align: right }

.weui-skin_android .weui-actionsheet_toggle{ opacity: 1 !important; top: 50% !important; bottom: auto !important }

.weui-skin_android .weui-actionsheet{ opacity: 0; transition: opacity .3s; top: 150%; bottom: 0 }