@import "parts/normalize.pcss";
@import "parts/extend.pcss";
@import "library/weui.css";
@import "library/react-weui.css";
@import "../font/icon/iconfont.css";

html, body{
  max-width: 900px; /*px*/
  height: 100%;
  margin: 0 auto;
  color: #2d2d34;
}